config event
    option topic 'example/temperature'
    option dataType 'number'
    option paramKey 'temperature'
    option value 24
    option compare '<'
    option recipient 'domantas231@gmail.com'
    option sender 'postmaster@sandbox4f03f6c5ae7c4a9380fac0bf4a683218.mailgun.org'
    option senderPassw 'ff9d61a89a0e936c0450f06b34a95e96-d2cc48bc-d803cc56' 
