config event
    option topic 'example/temperature'
    option dataType 'number'
    option paramKey 'temperature'
    option value 24
    option compare '<'
    list recipient 'domantas231@gmail.com'
    list recipient 'bieliunas.domantas@gmail.com'
    option sender 'postmaster@sandbox6e6adb866dc4414cbd2a1b7902b74451.mailgun.org'
    option senderPassw 'bcabff3922b5ff0ce57612db9ace2079-d2cc48bc-5c52c79d'